=begin
#API dos Correios

#Postal Object tracking API

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class AddressesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # Searches for the address of a given zipcodes.
    # @param client_id Customer identifier used for authentication.
    # @param access_token Access token used in the authentication.
    # @param zipcode Zipcode to search.
    # @param [Hash] opts the optional parameters
    # @return [Array<InlineResponse2001>]
    def addresses_zipcode_get(client_id, access_token, zipcode, opts = {})
      data, _status_code, _headers = addresses_zipcode_get_with_http_info(client_id, access_token, zipcode, opts)
      return data
    end

    # 
    # Searches for the address of a given zipcodes.
    # @param client_id Customer identifier used for authentication.
    # @param access_token Access token used in the authentication.
    # @param zipcode Zipcode to search.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse2001>, Fixnum, Hash)>] Array<InlineResponse2001> data, response status code and response headers
    def addresses_zipcode_get_with_http_info(client_id, access_token, zipcode, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AddressesApi.addresses_zipcode_get ..."
      end
      # verify the required parameter 'client_id' is set
      fail ArgumentError, "Missing the required parameter 'client_id' when calling AddressesApi.addresses_zipcode_get" if client_id.nil?
      # verify the required parameter 'access_token' is set
      fail ArgumentError, "Missing the required parameter 'access_token' when calling AddressesApi.addresses_zipcode_get" if access_token.nil?
      # verify the required parameter 'zipcode' is set
      fail ArgumentError, "Missing the required parameter 'zipcode' when calling AddressesApi.addresses_zipcode_get" if zipcode.nil?
      # resource path
      local_var_path = "/addresses/{zipcode}".sub('{format}','json').sub('{' + 'zipcode' + '}', zipcode.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params[:'client_id'] = client_id
      header_params[:'access_token'] = access_token

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<InlineResponse2001>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddressesApi#addresses_zipcode_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
