=begin
#API dos Correios

#API de rastreios de Objetos Postais

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class CEPApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # Pesquisa pela faixa de CEPs nos municipios de um Estado.
    # @param client_id Identificação do cliente usado na autenticação.
    # @param access_token Access token usado na autenticação.
    # @param estado Abreviação do Estado.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :municipio Nome do Município.
    # @return [Array<InlineResponse200>]
    def cep_estado_get(client_id, access_token, estado, opts = {})
      data, _status_code, _headers = cep_estado_get_with_http_info(client_id, access_token, estado, opts)
      return data
    end

    # 
    # Pesquisa pela faixa de CEPs nos municipios de um Estado.
    # @param client_id Identificação do cliente usado na autenticação.
    # @param access_token Access token usado na autenticação.
    # @param estado Abreviação do Estado.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :municipio Nome do Município.
    # @return [Array<(Array<InlineResponse200>, Fixnum, Hash)>] Array<InlineResponse200> data, response status code and response headers
    def cep_estado_get_with_http_info(client_id, access_token, estado, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CEPApi.cep_estado_get ..."
      end
      # verify the required parameter 'client_id' is set
      fail ArgumentError, "Missing the required parameter 'client_id' when calling CEPApi.cep_estado_get" if client_id.nil?
      # verify the required parameter 'access_token' is set
      fail ArgumentError, "Missing the required parameter 'access_token' when calling CEPApi.cep_estado_get" if access_token.nil?
      # verify the required parameter 'estado' is set
      fail ArgumentError, "Missing the required parameter 'estado' when calling CEPApi.cep_estado_get" if estado.nil?
      # resource path
      local_var_path = "/cep/{estado}".sub('{format}','json').sub('{' + 'estado' + '}', estado.to_s)

      # query parameters
      query_params = {}
      query_params[:'municipio'] = opts[:'municipio'] if !opts[:'municipio'].nil?

      # header parameters
      header_params = {}
      header_params[:'client_id'] = client_id
      header_params[:'access_token'] = access_token

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<InlineResponse200>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CEPApi#cep_estado_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
