/**
 * API dos Correios
 * API de rastreios de Objetos Postais
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiInvoker;
import io.swagger.client.ApiException;
import io.swagger.client.Pair;

import io.swagger.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import io.swagger.client.model.InlineResponse2002;
import io.swagger.client.model.InlineResponse2003;
import io.swagger.client.model.InlineResponse400;
import io.swagger.client.model.ObjetosEventos;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class ObjetoPostalApi {
  String basePath = "https://api-visa.sensedia.com/sandbox/visa/correios/v1";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * 
  * Retorna uma lista de possiveis status para um determinado evento.
   * @param clientId Identificação do cliente usado na autenticação.
   * @param accessToken Access token usado na autenticação.
   * @param tipoEvento Tipo de evento a ser pesquisado.
   * @param statusEvento Status a ser filtrado.
   * @return List<InlineResponse2003>
  */
  public List<InlineResponse2003> eventosTipoEventoGet (String clientId, String accessToken, String tipoEvento, String statusEvento) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling eventosTipoEventoGet",
        new ApiException(400, "Missing the required parameter 'clientId' when calling eventosTipoEventoGet"));
    }
    // verify the required parameter 'accessToken' is set
    if (accessToken == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accessToken' when calling eventosTipoEventoGet",
        new ApiException(400, "Missing the required parameter 'accessToken' when calling eventosTipoEventoGet"));
    }
    // verify the required parameter 'tipoEvento' is set
    if (tipoEvento == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'tipoEvento' when calling eventosTipoEventoGet",
        new ApiException(400, "Missing the required parameter 'tipoEvento' when calling eventosTipoEventoGet"));
    }

    // create path and map variables
    String path = "/eventos/{tipoEvento}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "tipoEvento" + "\\}", apiInvoker.escapeString(tipoEvento.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "statusEvento", statusEvento));
    headerParams.put("client_id", ApiInvoker.parameterToString(clientId));
    headerParams.put("access_token", ApiInvoker.parameterToString(accessToken));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<InlineResponse2003>) ApiInvoker.deserialize(localVarResponse, "array", InlineResponse2003.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
       if (ex.getCause() instanceof VolleyError) {
         VolleyError volleyError = (VolleyError)ex.getCause();
         if (volleyError.networkResponse != null) {
           throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
         }
       }
       throw ex;
    } catch (TimeoutException ex) {
       throw ex;
    }
  }

      /**
   * 
   * Retorna uma lista de possiveis status para um determinado evento.
   * @param clientId Identificação do cliente usado na autenticação.   * @param accessToken Access token usado na autenticação.   * @param tipoEvento Tipo de evento a ser pesquisado.   * @param statusEvento Status a ser filtrado.
  */
  public void eventosTipoEventoGet (String clientId, String accessToken, String tipoEvento, String statusEvento, final Response.Listener<List<InlineResponse2003>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

  
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling eventosTipoEventoGet",
         new ApiException(400, "Missing the required parameter 'clientId' when calling eventosTipoEventoGet"));
    }
    
    // verify the required parameter 'accessToken' is set
    if (accessToken == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'accessToken' when calling eventosTipoEventoGet",
         new ApiException(400, "Missing the required parameter 'accessToken' when calling eventosTipoEventoGet"));
    }
    
    // verify the required parameter 'tipoEvento' is set
    if (tipoEvento == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'tipoEvento' when calling eventosTipoEventoGet",
         new ApiException(400, "Missing the required parameter 'tipoEvento' when calling eventosTipoEventoGet"));
    }
    

    // create path and map variables
    String path = "/eventos/{tipoEvento}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "tipoEvento" + "\\}", apiInvoker.escapeString(tipoEvento.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "statusEvento", statusEvento));

    headerParams.put("client_id", ApiInvoker.parameterToString(clientId));
    headerParams.put("access_token", ApiInvoker.parameterToString(accessToken));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<InlineResponse2003>) ApiInvoker.deserialize(localVarResponse,  "array", InlineResponse2003.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * 
  * Pesquisa por informações relacionadas a um objeto postal especifico.
   * @param clientId Identificação do cliente usado na autenticação.
   * @param accessToken Access token usado na autenticação.
   * @param codigoObjeto Codigo do objeto a ser pesquisado.
   * @param tipoEvento Tipo de evento a ser filtrado.
   * @return List<ObjetosEventos>
  */
  public List<ObjetosEventos> objetosCodigoObjetoGet (String clientId, String accessToken, String codigoObjeto, String tipoEvento) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling objetosCodigoObjetoGet",
        new ApiException(400, "Missing the required parameter 'clientId' when calling objetosCodigoObjetoGet"));
    }
    // verify the required parameter 'accessToken' is set
    if (accessToken == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accessToken' when calling objetosCodigoObjetoGet",
        new ApiException(400, "Missing the required parameter 'accessToken' when calling objetosCodigoObjetoGet"));
    }
    // verify the required parameter 'codigoObjeto' is set
    if (codigoObjeto == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'codigoObjeto' when calling objetosCodigoObjetoGet",
        new ApiException(400, "Missing the required parameter 'codigoObjeto' when calling objetosCodigoObjetoGet"));
    }

    // create path and map variables
    String path = "/objetos/{codigoObjeto}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "codigoObjeto" + "\\}", apiInvoker.escapeString(codigoObjeto.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tipoEvento", tipoEvento));
    headerParams.put("client_id", ApiInvoker.parameterToString(clientId));
    headerParams.put("access_token", ApiInvoker.parameterToString(accessToken));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<ObjetosEventos>) ApiInvoker.deserialize(localVarResponse, "array", ObjetosEventos.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
       if (ex.getCause() instanceof VolleyError) {
         VolleyError volleyError = (VolleyError)ex.getCause();
         if (volleyError.networkResponse != null) {
           throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
         }
       }
       throw ex;
    } catch (TimeoutException ex) {
       throw ex;
    }
  }

      /**
   * 
   * Pesquisa por informações relacionadas a um objeto postal especifico.
   * @param clientId Identificação do cliente usado na autenticação.   * @param accessToken Access token usado na autenticação.   * @param codigoObjeto Codigo do objeto a ser pesquisado.   * @param tipoEvento Tipo de evento a ser filtrado.
  */
  public void objetosCodigoObjetoGet (String clientId, String accessToken, String codigoObjeto, String tipoEvento, final Response.Listener<List<ObjetosEventos>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

  
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling objetosCodigoObjetoGet",
         new ApiException(400, "Missing the required parameter 'clientId' when calling objetosCodigoObjetoGet"));
    }
    
    // verify the required parameter 'accessToken' is set
    if (accessToken == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'accessToken' when calling objetosCodigoObjetoGet",
         new ApiException(400, "Missing the required parameter 'accessToken' when calling objetosCodigoObjetoGet"));
    }
    
    // verify the required parameter 'codigoObjeto' is set
    if (codigoObjeto == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'codigoObjeto' when calling objetosCodigoObjetoGet",
         new ApiException(400, "Missing the required parameter 'codigoObjeto' when calling objetosCodigoObjetoGet"));
    }
    

    // create path and map variables
    String path = "/objetos/{codigoObjeto}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "codigoObjeto" + "\\}", apiInvoker.escapeString(codigoObjeto.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "tipoEvento", tipoEvento));

    headerParams.put("client_id", ApiInvoker.parameterToString(clientId));
    headerParams.put("access_token", ApiInvoker.parameterToString(accessToken));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<ObjetosEventos>) ApiInvoker.deserialize(localVarResponse,  "array", ObjetosEventos.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * 
  * Pesquisa por informações relacionados a uma lista de objetos postais.
   * @param clientId Identificação do cliente usado na autenticação.
   * @param accessToken Access token usado na autenticação.
   * @param codigoObjeto Lista, separada por virgula, com codigos de objetos postais.
   * @return List<InlineResponse2002>
  */
  public List<InlineResponse2002> objetosGet (String clientId, String accessToken, String codigoObjeto) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling objetosGet",
        new ApiException(400, "Missing the required parameter 'clientId' when calling objetosGet"));
    }
    // verify the required parameter 'accessToken' is set
    if (accessToken == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accessToken' when calling objetosGet",
        new ApiException(400, "Missing the required parameter 'accessToken' when calling objetosGet"));
    }
    // verify the required parameter 'codigoObjeto' is set
    if (codigoObjeto == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'codigoObjeto' when calling objetosGet",
        new ApiException(400, "Missing the required parameter 'codigoObjeto' when calling objetosGet"));
    }

    // create path and map variables
    String path = "/objetos".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "codigoObjeto", codigoObjeto));
    headerParams.put("client_id", ApiInvoker.parameterToString(clientId));
    headerParams.put("access_token", ApiInvoker.parameterToString(accessToken));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<InlineResponse2002>) ApiInvoker.deserialize(localVarResponse, "array", InlineResponse2002.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
       if (ex.getCause() instanceof VolleyError) {
         VolleyError volleyError = (VolleyError)ex.getCause();
         if (volleyError.networkResponse != null) {
           throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
         }
       }
       throw ex;
    } catch (TimeoutException ex) {
       throw ex;
    }
  }

      /**
   * 
   * Pesquisa por informações relacionados a uma lista de objetos postais.
   * @param clientId Identificação do cliente usado na autenticação.   * @param accessToken Access token usado na autenticação.   * @param codigoObjeto Lista, separada por virgula, com codigos de objetos postais.
  */
  public void objetosGet (String clientId, String accessToken, String codigoObjeto, final Response.Listener<List<InlineResponse2002>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

  
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling objetosGet",
         new ApiException(400, "Missing the required parameter 'clientId' when calling objetosGet"));
    }
    
    // verify the required parameter 'accessToken' is set
    if (accessToken == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'accessToken' when calling objetosGet",
         new ApiException(400, "Missing the required parameter 'accessToken' when calling objetosGet"));
    }
    
    // verify the required parameter 'codigoObjeto' is set
    if (codigoObjeto == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'codigoObjeto' when calling objetosGet",
         new ApiException(400, "Missing the required parameter 'codigoObjeto' when calling objetosGet"));
    }
    

    // create path and map variables
    String path = "/objetos".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "codigoObjeto", codigoObjeto));

    headerParams.put("client_id", ApiInvoker.parameterToString(clientId));
    headerParams.put("access_token", ApiInvoker.parameterToString(accessToken));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<InlineResponse2002>) ApiInvoker.deserialize(localVarResponse,  "array", InlineResponse2002.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
