/**
 * API dos Correios
 * Postal Object tracking API
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiInvoker;
import io.swagger.client.ApiException;
import io.swagger.client.Pair;

import io.swagger.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import io.swagger.client.model.InlineResponse2002;
import io.swagger.client.model.InlineResponse2003;
import io.swagger.client.model.InlineResponse400;
import io.swagger.client.model.ObjectsEventos;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class PostalObjectsApi {
  String basePath = "https://api-visa.sensedia.com/sandbox/visa/correios/v1";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * 
  * Returns the list of possible event status for a given postal events.
   * @param clientId Customer identifier used for authentication.
   * @param accessToken Access token used in the authentication.
   * @param eventType Event type to be searched.
   * @param eventStatus Filter the search by a certain event status.
   * @return List<InlineResponse2002>
  */
  public List<InlineResponse2002> eventsEventTypeGet (String clientId, String accessToken, String eventType, String eventStatus) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling eventsEventTypeGet",
        new ApiException(400, "Missing the required parameter 'clientId' when calling eventsEventTypeGet"));
    }
    // verify the required parameter 'accessToken' is set
    if (accessToken == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accessToken' when calling eventsEventTypeGet",
        new ApiException(400, "Missing the required parameter 'accessToken' when calling eventsEventTypeGet"));
    }
    // verify the required parameter 'eventType' is set
    if (eventType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'eventType' when calling eventsEventTypeGet",
        new ApiException(400, "Missing the required parameter 'eventType' when calling eventsEventTypeGet"));
    }

    // create path and map variables
    String path = "/events/{eventType}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "eventType" + "\\}", apiInvoker.escapeString(eventType.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "eventStatus", eventStatus));
    headerParams.put("client_id", ApiInvoker.parameterToString(clientId));
    headerParams.put("access_token", ApiInvoker.parameterToString(accessToken));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<InlineResponse2002>) ApiInvoker.deserialize(localVarResponse, "array", InlineResponse2002.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
       if (ex.getCause() instanceof VolleyError) {
         VolleyError volleyError = (VolleyError)ex.getCause();
         if (volleyError.networkResponse != null) {
           throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
         }
       }
       throw ex;
    } catch (TimeoutException ex) {
       throw ex;
    }
  }

      /**
   * 
   * Returns the list of possible event status for a given postal events.
   * @param clientId Customer identifier used for authentication.   * @param accessToken Access token used in the authentication.   * @param eventType Event type to be searched.   * @param eventStatus Filter the search by a certain event status.
  */
  public void eventsEventTypeGet (String clientId, String accessToken, String eventType, String eventStatus, final Response.Listener<List<InlineResponse2002>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

  
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling eventsEventTypeGet",
         new ApiException(400, "Missing the required parameter 'clientId' when calling eventsEventTypeGet"));
    }
    
    // verify the required parameter 'accessToken' is set
    if (accessToken == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'accessToken' when calling eventsEventTypeGet",
         new ApiException(400, "Missing the required parameter 'accessToken' when calling eventsEventTypeGet"));
    }
    
    // verify the required parameter 'eventType' is set
    if (eventType == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'eventType' when calling eventsEventTypeGet",
         new ApiException(400, "Missing the required parameter 'eventType' when calling eventsEventTypeGet"));
    }
    

    // create path and map variables
    String path = "/events/{eventType}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "eventType" + "\\}", apiInvoker.escapeString(eventType.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "eventStatus", eventStatus));

    headerParams.put("client_id", ApiInvoker.parameterToString(clientId));
    headerParams.put("access_token", ApiInvoker.parameterToString(accessToken));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<InlineResponse2002>) ApiInvoker.deserialize(localVarResponse,  "array", InlineResponse2002.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * 
  * Searches for the events related to a list of postal objects.
   * @param clientId Customer identifier used for authentication.
   * @param accessToken Access token used in the authentication.
   * @param objectCode List of comma separated codes to be consulted.
   * @return List<InlineResponse2003>
  */
  public List<InlineResponse2003> objectsGet (String clientId, String accessToken, String objectCode) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling objectsGet",
        new ApiException(400, "Missing the required parameter 'clientId' when calling objectsGet"));
    }
    // verify the required parameter 'accessToken' is set
    if (accessToken == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accessToken' when calling objectsGet",
        new ApiException(400, "Missing the required parameter 'accessToken' when calling objectsGet"));
    }
    // verify the required parameter 'objectCode' is set
    if (objectCode == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'objectCode' when calling objectsGet",
        new ApiException(400, "Missing the required parameter 'objectCode' when calling objectsGet"));
    }

    // create path and map variables
    String path = "/objects".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "objectCode", objectCode));
    headerParams.put("client_id", ApiInvoker.parameterToString(clientId));
    headerParams.put("access_token", ApiInvoker.parameterToString(accessToken));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<InlineResponse2003>) ApiInvoker.deserialize(localVarResponse, "array", InlineResponse2003.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
       if (ex.getCause() instanceof VolleyError) {
         VolleyError volleyError = (VolleyError)ex.getCause();
         if (volleyError.networkResponse != null) {
           throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
         }
       }
       throw ex;
    } catch (TimeoutException ex) {
       throw ex;
    }
  }

      /**
   * 
   * Searches for the events related to a list of postal objects.
   * @param clientId Customer identifier used for authentication.   * @param accessToken Access token used in the authentication.   * @param objectCode List of comma separated codes to be consulted.
  */
  public void objectsGet (String clientId, String accessToken, String objectCode, final Response.Listener<List<InlineResponse2003>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

  
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling objectsGet",
         new ApiException(400, "Missing the required parameter 'clientId' when calling objectsGet"));
    }
    
    // verify the required parameter 'accessToken' is set
    if (accessToken == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'accessToken' when calling objectsGet",
         new ApiException(400, "Missing the required parameter 'accessToken' when calling objectsGet"));
    }
    
    // verify the required parameter 'objectCode' is set
    if (objectCode == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'objectCode' when calling objectsGet",
         new ApiException(400, "Missing the required parameter 'objectCode' when calling objectsGet"));
    }
    

    // create path and map variables
    String path = "/objects".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "objectCode", objectCode));

    headerParams.put("client_id", ApiInvoker.parameterToString(clientId));
    headerParams.put("access_token", ApiInvoker.parameterToString(accessToken));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<InlineResponse2003>) ApiInvoker.deserialize(localVarResponse,  "array", InlineResponse2003.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * 
  * Searches for the informations related to a specific postal object.
   * @param clientId Customer identifier used for authentication.
   * @param accessToken Access token used in the authentication.
   * @param objectCode Code of the object to be consulted.
   * @param eventType Event type to be filtered.
   * @return List<ObjectsEventos>
  */
  public List<ObjectsEventos> objectsObjectCodeGet (String clientId, String accessToken, String objectCode, String eventType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling objectsObjectCodeGet",
        new ApiException(400, "Missing the required parameter 'clientId' when calling objectsObjectCodeGet"));
    }
    // verify the required parameter 'accessToken' is set
    if (accessToken == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accessToken' when calling objectsObjectCodeGet",
        new ApiException(400, "Missing the required parameter 'accessToken' when calling objectsObjectCodeGet"));
    }
    // verify the required parameter 'objectCode' is set
    if (objectCode == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'objectCode' when calling objectsObjectCodeGet",
        new ApiException(400, "Missing the required parameter 'objectCode' when calling objectsObjectCodeGet"));
    }

    // create path and map variables
    String path = "/objects/{objectCode}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "objectCode" + "\\}", apiInvoker.escapeString(objectCode.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "eventType", eventType));
    headerParams.put("client_id", ApiInvoker.parameterToString(clientId));
    headerParams.put("access_token", ApiInvoker.parameterToString(accessToken));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<ObjectsEventos>) ApiInvoker.deserialize(localVarResponse, "array", ObjectsEventos.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
       if (ex.getCause() instanceof VolleyError) {
         VolleyError volleyError = (VolleyError)ex.getCause();
         if (volleyError.networkResponse != null) {
           throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
         }
       }
       throw ex;
    } catch (TimeoutException ex) {
       throw ex;
    }
  }

      /**
   * 
   * Searches for the informations related to a specific postal object.
   * @param clientId Customer identifier used for authentication.   * @param accessToken Access token used in the authentication.   * @param objectCode Code of the object to be consulted.   * @param eventType Event type to be filtered.
  */
  public void objectsObjectCodeGet (String clientId, String accessToken, String objectCode, String eventType, final Response.Listener<List<ObjectsEventos>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

  
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling objectsObjectCodeGet",
         new ApiException(400, "Missing the required parameter 'clientId' when calling objectsObjectCodeGet"));
    }
    
    // verify the required parameter 'accessToken' is set
    if (accessToken == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'accessToken' when calling objectsObjectCodeGet",
         new ApiException(400, "Missing the required parameter 'accessToken' when calling objectsObjectCodeGet"));
    }
    
    // verify the required parameter 'objectCode' is set
    if (objectCode == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'objectCode' when calling objectsObjectCodeGet",
         new ApiException(400, "Missing the required parameter 'objectCode' when calling objectsObjectCodeGet"));
    }
    

    // create path and map variables
    String path = "/objects/{objectCode}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "objectCode" + "\\}", apiInvoker.escapeString(objectCode.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "eventType", eventType));

    headerParams.put("client_id", ApiInvoker.parameterToString(clientId));
    headerParams.put("access_token", ApiInvoker.parameterToString(accessToken));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<ObjectsEventos>) ApiInvoker.deserialize(localVarResponse,  "array", ObjectsEventos.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
