# coding: utf-8

"""
    API Agillitas Cartões Pré-pagos

    API para manipular recursos relacionadas à cartões pré-pagos Agillitas.

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class TransferenciasApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def transferencias_cadastros_post(self, beneficiario, **kwargs):
        """
        Cadastro de beneficiário
        <p>Permite o cadastro de beneficiário para uma transferencia.</p>
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.transferencias_cadastros_post(beneficiario, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param TransferenciaCadastroBenificiario beneficiario: Objeto de requisição (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.transferencias_cadastros_post_with_http_info(beneficiario, **kwargs)
        else:
            (data) = self.transferencias_cadastros_post_with_http_info(beneficiario, **kwargs)
            return data

    def transferencias_cadastros_post_with_http_info(self, beneficiario, **kwargs):
        """
        Cadastro de beneficiário
        <p>Permite o cadastro de beneficiário para uma transferencia.</p>
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.transferencias_cadastros_post_with_http_info(beneficiario, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param TransferenciaCadastroBenificiario beneficiario: Objeto de requisição (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['beneficiario']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method transferencias_cadastros_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'beneficiario' is set
        if ('beneficiario' not in params) or (params['beneficiario'] is None):
            raise ValueError("Missing the required parameter `beneficiario` when calling `transferencias_cadastros_post`")


        collection_formats = {}

        resource_path = '/transferencias/cadastros'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'beneficiario' in params:
            body_params = params['beneficiario']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token', 'key_id', 'client_id']

        return self.api_client.call_api(resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def transferencias_post(self, transferencia, **kwargs):
        """
        Transferência de valor
        <p>Permite a transferência de valor entre dois cartões pré cadastrados.</p>
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.transferencias_post(transferencia, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param Transferencia transferencia: Objeto de requisição (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.transferencias_post_with_http_info(transferencia, **kwargs)
        else:
            (data) = self.transferencias_post_with_http_info(transferencia, **kwargs)
            return data

    def transferencias_post_with_http_info(self, transferencia, **kwargs):
        """
        Transferência de valor
        <p>Permite a transferência de valor entre dois cartões pré cadastrados.</p>
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.transferencias_post_with_http_info(transferencia, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param Transferencia transferencia: Objeto de requisição (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['transferencia']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method transferencias_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'transferencia' is set
        if ('transferencia' not in params) or (params['transferencia'] is None):
            raise ValueError("Missing the required parameter `transferencia` when calling `transferencias_post`")


        collection_formats = {}

        resource_path = '/transferencias'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'transferencia' in params:
            body_params = params['transferencia']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token', 'key_id', 'client_id']

        return self.api_client.call_api(resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
